body {
    background-color: #bacbdb;
}

h1 {
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

footer {
    text-align: center;
}

.container {
    height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.text-box1 {
    width: 50%;
    float: left;
    display: grid;
    place-items: center;
}

.text-box2 {
    width: 50%;
    float: right;
    display: grid;
    place-items: center;
}

#input-text,
#encrypted-text {
    width: 80%;
    border-radius: 4px;
}

/* Botón Encriptar */

#boton-encriptar,
#boton-desencriptar {
    position: flex;
    width: 181px;
    height: 37px;
    background: #21235b;
    border-radius: 10px;
}
